:root {
    --main-color: #303133;
    --corners: 4px;
}

@keyframes flip {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@keyframes flip-slide {
    from {
        transform: translateX(0%) rotate(0);
        opacity: 1;
    }

    25% {
        transform: translate(100%) rotate(180deg) scale(1.2);
        opacity: 1;
    }
    70% {
        transform: translateX(100%) rotate(180deg) scale(0);
    }


    95% {
        transform: translateX(100%) rotate(180deg) scale(0);
        opacity: 0;
    }
    to {
        transform: translateX(0%) rotate(360)deg scale(1);
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    min-width: 465px;
}

.navbar {
    z-index: 2;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: var(--main-color);
    color: white;
    position: fixed;
    top: 0%;
    text-align: right;
}

.nav-list{
    display: none;
}

.nav-list > li{
    margin: 0 40px 0 0;;
    display: inline-block;

}
.nav-drop {
    position: relative;
    margin: 0;
    padding: 0;
}

.nav-drop-box {
    display: none;
    width: 200%;
    height: 150px;
    background-color: var(--main-color);
    position:absolute;
    top: 100%;
    left: -35px;
    margin: 0;
}

.nav-drop-box ul{
    list-style-type: none;
    text-align: center;
    padding: 20px;
}

.nav-drop-box li {
    margin-top: 10px;
}

.nav-drop:hover > .nav-drop-box {
    display: block;
}


.logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    margin: 5px 0 5px 15px;
}

.hamburger {
    position: relative;
    left: 0;
    height: 50px;
    width: auto;
}

.hamburger > img {
    width: 50px;
    margin: 5px 30 5px 0;
}

.hamburger-box {
    display: none;
    background-color: var(--main-color);
    position: absolute;
    top: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hamburger-box > li {
    text-align: center;
    list-style-type: none;
    padding: 20px;
}
.hamburger:hover > .hamburger-box {
    display: block;
}

.hamburger li:hover {
    background-color: #404144;
}
.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 800px;
    width: 100%;
    background-image: url(imgs/bg.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

.landing-block {
    min-height: 0;
    min-width: 400px;
    flex-wrap: nowrap;
    text-align: left;
    border: none;
}


.landing-left {
    margin: 60px 20px 20px 20px;
    font-size: 1em;
}

.landing-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    padding: 0 20px 20px;

}

.sub-header {
    font-size: 2.5rem;
    min-width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px dashed white;
}

.sub-text {
    margin: 0 20px 40px 0;
}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features-box {
    width: 300px;
    margin: 30px;
    border-radius: var(--corners);
    padding: 30px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    text-align: center;
}

.features-box > img {
    height: 50px;
    width: 50px;
}

.features-box > button {
    width: 100%;
    background-color: var(--main-color);
    padding: 15px;
    color: white;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: var(--corners);
}

.features-box:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
    transition: .4s ease-in-out;
}
.amazing:hover {
    display:block;
    box-shadow: 0px 0px 3px 2px #2196f3;
    transition: .2s ease-in-out;
}
.cool {
    height: 300px;
    background-color: var(--main-color);
    display: inline-block;
    width: 100%;
    padding-top: 100px;
}

.cool h1 {
    color: white;
    margin: 0 50px;
}

.cool p {
    color: white;
    margin: 0 50px;
}

.flip-div {
    left: 0;
    right: 0;
    position: absolute;
    height: 150px;
    width: 300px;
    color: white;
    margin: 0 auto;
    top: -17%;
    background-color: var(--main-color);
    border: 8px solid white;
    text-align: center;
}

.flip-div h3 {
    color: rgb(179, 0, 0);
}

.gradient {
    display: inline-block;
    position: relative;
    text-align: right;
    color: white;
    width: 100%;
    height: 300px;
    padding-top: 100px;
    background-image: linear-gradient(to right, white, dodgerblue);
}

.gradient h1 {
    margin: 0px 50px;
}

.gradient > p {
    margin: 0px 50px;
}


.flip-div:hover {
    animation: flip 5s ease;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    height: 300px;
    width: 100%;
}

.overlay {
    display: none;
    position: absolute;
    top: 40%;
    left: 0%;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.overlay > p {
    font-size: 1.5rem;
}
.gallery-box:hover > .overlay {
    display: block;
}
.gallery-box:hover > img {
    transform: scale(1.2);
    transition: .4s ease-in-out;
    filter: brightness(70%);
}

.gallery-box img{
    max-width: 768px;
    max-height: 100%;
    object-fit: cover;
    flex: 1;
}

.mail {
    width: 250px;
    margin: 50px auto;
    text-align: left;
}

.sendit {
    border: 2px solid var(--main-color);
    border-radius: 2px;;
    height: 30px;
    overflow: hidden;

}



input:focus {
    outline: none;
}

#mailbox {
    width: 160px;
    height: 25px;;
    padding-left: 10px;
    margin: 0;
    border: none;
    vertical-align: middle;
}

#submit {
    position: relative;
    background-color: var(--main-color);
    left: 25px;
    margin: auto 0;
    padding: 3px 15px 3px 13px;
    vertical-align: middle;
}

.footer {
    display: flex;
    width: 100%;
    margin: 50px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #eee;
}

.footer-links {
    max-width: 25%;
    margin: 50px 58px;
    width: 100px;
}

.footer-links a {
    text-decoration: none;
    color: var(--main-color);
    line-height: 2em;
}

@media (min-width: 768px) {
    
    .nav-list {
        list-style-type: none;
        padding-right: 10px;
        display: inline-block;
    }

    .nav-list > a {
        height: 44px;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 5px;
        transition: background-size .3s;
        margin-right: 50px;
        display: inline-block;
        color: white;
    }
    
    .nav-list >a:hover {
        background-size: 100% 5px;
    }
    .nav-drop-box  a {
        text-decoration: none;
        color: white;
    }
    .hamburger {
        display: none;
    }

    .landing-block {
        max-height: 100%;
        min-width: 0;
        max-width: 90%;
        border: 8px solid white;
    }

    .landing-left {
        font-size: 1.5em;
    }

    .sub-text {
        margin-bottom: 0;
        width: 45%;
    }

    .cool h1 {
        font-size: 5rem;
    }
    
    .cool {
        height: 500px;
    }

    .cool > p {
        font-size: 2rem;
    }

    .flip-div {
        left: 50px;
        right:0;
        margin: 0;
    }

    .gradient h1 {
        font-size: 5rem;
    }

    .gradient > p {
        font-size: 2rem;
    }
    
    .gallery {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .gallery-box {
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        width: 600px;
        max-width: 50%;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .landing-block {
        display: flex;
        min-height: 450px;
        max-width: 75%;
        max-height: 80%;
    }
    .landing-left {
        font-size: 2rem;
    }

    .flip-div:hover {
        animation: flip-slide 5s ease-in-out;
    }
    .landing-right{
     width: 80%;
    }

    .sub-header {
        margin-top: 50px;
        font-size: 3rem;
    }

    .features {
        height: 500px;
    }

    .cool {
        height: 400px;
    }
    
    .gradient {
        height: 400px;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .gallery-box {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        height: 300px;
        width: 400px;
        overflow: hidden;
        min-width: 33%;
    }
}